<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287124774678-ae3ur5l1ophjqp9m4d2qskohdhvmlp5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287124774678-ae3ur5l1ophjqp9m4d2qskohdhvmlp5r</string>
	<key>API_KEY</key>
	<string>AIzaSyBe0iW9k-DLafp7dAo0BwYn1F0lTz05fZg</string>
	<key>GCM_SENDER_ID</key>
	<string>287124774678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hemingway</string>
	<key>PROJECT_ID</key>
	<string>hemingway-705f5</string>
	<key>STORAGE_BUCKET</key>
	<string>hemingway-705f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287124774678:ios:e7b2aa9a2a49ab6e44ba37</string>
</dict>
</plist>